name: Run Tests (INTERNAL)

on:
    workflow_call:

permissions:
  contents: read

env:
  CARGO_TERM_COLOR: always

jobs:
    build-test:
        strategy:
            matrix:
                python-version: ["3.11"]
                platform:
                  - { runner: ubuntu-latest }
                  - { runner: ubuntu-24.04-arm }
                  - { runner: macos-latest, extra_rustflags: "-C split-debuginfo=off" }
                  - { runner: macos-15-intel, extra_rustflags: "-C split-debuginfo=off" }
                  - { runner: windows-latest }
        runs-on: ${{ matrix.platform.runner }}
        env:
          RUSTFLAGS: "-C debuginfo=0 ${{ matrix.platform.extra_rustflags }}"
          CARGO_INCREMENTAL: "0"
          SCCACHE_GHA_ENABLED: "true"
          RUSTC_WRAPPER: "sccache"

        steps:
        - uses: actions/checkout@v4
          with:
            fetch-depth: 1

        - name: Run sccache-cache
          uses: mozilla-actions/sccache-action@v0.0.9

        - run: rustup toolchain install stable --profile minimal

        - name: Rust Cache
          uses: Swatinem/rust-cache@v2
          with:
            key: rust-${{ matrix.platform.runner }}
            cache-targets: 'true'
            cache-all-crates: 'false'
            cache-workspace-crates: 'false'

        - uses: actions/setup-python@v5
          id: setup_python
          with:
            python-version: ${{ matrix.python-version }}
            # Python cache is huge and saves little time, so disabled for now, until we have higher cache size limits
            # cache: 'pip'

        - name: Install uv
          uses: astral-sh/setup-uv@v4

        - name: Sync Python dependencies
          run: uv sync --no-dev --group ci

        - name: Rust tests (no default features)
          run: uv run --no-sync cargo test --no-default-features --verbose

        - name: Rust tests
          run: uv run --no-sync cargo test --verbose

        - name: Python build
          run: uv run --no-sync maturin develop --strip

        - name: Python type check (mypy)
          run: uv run --no-sync mypy

        - name: Python tests
          run: uv run --no-sync pytest --capture=no python/cocoindex/tests

    validate-3p-notices:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v4
          with:
            fetch-depth: 1
        - name: Install Rust toolchain
          uses: dtolnay/rust-toolchain@stable
        - uses: taiki-e/install-action@v2
          with:
            tool: cargo-binstall
        - name: Install cargo-about
          run: cargo binstall -y cargo-about
        - name: Validate third-party notices (dry-run)
          shell: bash
          run: |
            set +e
            cargo about generate about.hbs > /dev/null
            status=$?
            if [ $status -ne 0 ]; then
              echo "::error::Third-party notices validation failed. Please update /about.toml and rerun."
              exit $status
            fi
