# Regular docs release is part of CocoIndex release (see `release.yml`).
# This workflow is for manually triggered docs release, e.g. urgent docs-only fixes.
#
name: Release Docs

on:
  workflow_dispatch:

permissions:
  contents: write
  pages: write

jobs:
  deploy:
    name: Release Docs
    uses: ./.github/workflows/_docs_release.yml
    secrets: inherit
